<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security incident</title>
</head>
<body>

Dear Community,

We are writing to let you know about a security incident we recently identified and addressed involving a subset of user data.

We know transparency is important to our community, and we want to share with you what we have learned from our investigation,
measures we have taken, as well as steps you can take.

<h2>What happened</h2>
We recently identified unauthorized access to some of our databases.

In response to this discovery, we immediately launched an investigation.

Findings from the investigation indicate an unauthorized person accessed and potentially obtained data.

<h2>What information was involved</h2>

The databases involved may have contained email address.

No passwords were taken since we don't use passwords.

<h2>What we are doing</h2>

As a precaution, we have expires all users’ tokens.

<h2>What you can do</h2>

You can continue to use JWT without further action. However, next time you log into your account, you will need to apply for another login token.

The details on how to do this are:

1.
2.
3.

<h2>Where to find more information and updates</h2>

We deeply regret this incident happened. For more information and answers to frequently asked questions,
we have created a support page with more details about the incident.


Sincerely,


The JWT team

</body>
</html>